aiosqlite
asyncpg
bcrypt<5
celery
cloudinary
email-validator
fastapi
fixtures
greenlet
httpx
prometheus-client
passlib[bcrypt]
psycopg[binary]
psycopg2-binary
python-jose[cryptography]
python-multipart
pydantic
pydantic-settings
pytest
pytest-asyncio
redis
sqlalchemy[asyncio]
uvicorn[standard]
